.card_size {
  width: 25rem;
  border-color: white;
}

.back_button {
  text-decoration: none;
  color: #7e98df;
}

.back_button:hover {
  color: #7e98df;
}

.login_text {
  color: #7e98df;
}

.forgot_password_text {
  text-decoration: none;
  float: right;
  color: #7e98df;
}

.forgot_password_text:hover {
  color: #7e98df;
  text-decoration: underline;
}

.login_button {
  border-color: #7e98df;
  color: white;
  background-color: #7e98df;
  width: 100%;
}

.login_button:hover {
  border-color: #7e98df;
  color: #7e98df;
  background-color: white;
  width: 100%;
}

.sign_up_link_text {
  color: #7e98df;
  text-decoration: none;
}

.sign_up_link_text:hover {
  color: #7e98df;
  text-decoration: underline;
}

/* Responsive Size */

@media only screen and (max-width: 500px) {
  body {
    background-color: white;
  }
}
