.back_button {
  text-decoration: none;
  color: #7e98df;
}

.back_button:hover {
  color: #7e98df;
}

body {
  background-color: lightgray;
}

.card_size {
  width: 25rem;
  border-color: white;
}

.login_text {
  color: #7e98df;
}

.login_button {
  border-color: #7e98df;
  color: white;
  background-color: #7e98df;
  width: 100%;
}

.login_button:hover {
  border-color: #7e98df;
  color: #7e98df;
  background-color: white;
  width: 100%;
}

/* Responsive Size */

@media only screen and (max-width: 500px) {
  body {
    background-color: white;
  }
}
